<%= form_for @movie, :class => 'form-horizontal' do |f| %>
  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.text_field "title", {:class => 'form-control', :placeholder => "Title"} %>
  </div>
  <div>
    <br>
    <%= f.date_field "release_date", {:class => 'form-control'} %>
  </div>
  <div>
    <br>
    <%= f.text_field "director", {:class => 'form-control', :placeholder => "Director"} %>
  </div>
  <div>
    <br>
    <%= f.number_field "runtime_in_minutes", {:class => 'form-control', :placeholder => "Runtime"} %>
  </div>
  <div>
    <br>
    <%= f.label "poster" %><br>
    <%= f.file_field "poster"%>
    <br>
  </div>
  <div>
    <%= f.text_area "description", {:class => 'form-control', :placeholder => "Write a short description..."} %>
  </div>
  <div>
    <br>
    <%= f.submit "Submit", {:class => 'btn btn-default'} %> 
  </div>
  <hr>
<% end %>