<table>
  <tr>
    <td class="poster-view">
      <%= link_to image_tag(movie.poster_url(:thumb), :class => 'thumbnail'), movie_path(movie) %>
    </td>
    <td class="info-view">
      <h1><%= link_to movie.title, movie_path(movie) %></h1>
      <h4>Directed by: <%= movie.director %>&nbsp; |&nbsp; <span id="rating"><%= movie.review_average || 0 %>/10</span></h4> 
      <h5>Runtime: <strong><%= movie.runtime_in_minutes %> minutes </strong></h5>
      <br>
      <p><%= movie.description %></p>
      <em>Release Date: <%= formatted_date(movie.release_date) %></em>
    </td>
</table>

