<%= link_to "<< Back to all movies", movies_path %>
<br>
<br>
<%= render "movie", movie: @movie %>

<hr>

<h2>Reviews of <em><%= @movie.title %></em>:</h2>
<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <p id="userreview"><%= review.user.full_name %> gives it:  <span id="rating"><%= review.rating_out_of_ten %>/10</span></p>
    <p><%= review.text %></p>
    <hr class="review-separator">
  <% end %>
  <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
<% end %>