<%= link_to "Back to movie", movie_path(@movie) %><br/>

<h2>Write a review of <em><%= @movie.title %></em> :</h2>

<%= form_for([@movie, @review], :class => 'form-horizontal') do |f| %>
  <% if @review.errors.any? %>
    <div>
      <%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_area "text", {:class => 'form-control', :placeholder => "Your review here..."} %>
    <br>
  </div>
  <div>
    <%= f.number_field "rating_out_of_ten", {:class => 'form-control', :placeholder => "Rate out of 10"} %>
    <br>
  </div>
  <div><%= f.submit "Submit", :class => 'btn btn-default' %></div>
  <hr>
<% end %>